<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" stopOnFailure="false" stopOnError="false">
    <php>
        <ini name="error_reporting" value="E_ALL & ~(E_STRICT | E_NOTICE | E_DEPRACATED)"/>
    </php>
    <filter>
        <blacklist>
            <directory>../vendor</directory>
            <directory>.</directory>
        </blacklist>
    </filter>
    <testsuite>
        <directory suffix="Test.php">.</directory>
    </testsuite>
</phpunit>